#!/usr/bin/make -f

DEB_DH_SHLIBDEPS_ARGS := --dpkg-shlibdeps-params=--ignore-missing-info

include /usr/share/cdbs/1/rules/debhelper.mk

PHP_EX5=$(shell /usr/bin/php-config5 --extension-dir)

#
# local hacks
#

clean::
	rm -f php[5]-binprot.postrm php[5]-binprot.postinst
	rm -f *cdbs*

configure_for_php%:
	phpize --clean && phpize && \
	    ./configure
	sed -e 's/phpX/php$*/g' < debian/phpX-binprot.postinst > debian/php$*-binprot.postinst
	sed -e 's/phpX/php$*/g' < debian/phpX-binprot.postrm   > debian/php$*-binprot.postrm

#
# cdbs things
#

define install_rule
	$(MAKE) 
	mkdir -p debian/php$1-binprot$(PHP_EX$1)
	install -m 644 -o root -g root modules/binprot.so debian/php$1-binprot$(PHP_EX$1)/binprot.so
	mkdir -p debian/php$1-binprot/usr/share/lintian/overrides
	echo "php5-binprot: no-shlibs-control-file $(PHP_EX$1)/binprot.so" > debian/php$1-binprot/usr/share/lintian/overrides/php$1-binprot
	echo "php$1:Depends=phpapi-`php-config$1 --phpapi`, php$1-common" >> debian/php$1-binprot.substvars
	mkdir -p debian/php$1-binprot/usr/share/php$1-binprot/
	cp debian/binprot.ini  debian/php$1-binprot/usr/share/php$1-binprot/binprot.ini-dist
endef

install/php5-binprot:: configure_for_php5
	$(call install_rule,5)
